<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
	<table th:fragment="itemsFactura" class="d-none">
		<tbody id="plantillaItemsEmpleados">
			<tr id="row_{ID}">
				<td>{NOMBRE}</td>
				<td>{PATERNO}</td>
				<td>{MATERNO}</td>
				<td WIDTH="200" HEIGHT="50"><img
					th:if="${#strings.length('{FOTO}')>0}" style="max-width: 60%;"
					th:src="@{'/uploads/' + ${'{FOTO}'}}" /></td>
				<td>{PUESTO}</td>
				<td><a class="btn btn-success btn-xs"
					th:href="@{/empleados/vista/} + ${'{ID}'}"
					th:text="'Editar'"></a></td>
				<td><a class="btn btn-danger btn-xs"
					th:href="@{/empleados/eliminar/} + ${'{ID}'}" th:text="'Eliminar'"
					onclick="return confirm('Estas seguro que quieres eliminar?');"></a></td>
			</tr>
		</tbody>

	</table>
</body>
</html>