<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
	<table th:fragment="itemsFactura" class="d-none">
		<tbody id="plantillaItemsFactura">
			<tr id="row_{ID}">
				<td>{ID}</td>
				<td>{NUMERO}</td>
				<td>{NOMBRE}</td>
				<td>{PRECIO}</td>
				<td>{EXISTENCIA}</td>
				<td>{MARCA}</td>
				<td><a class="btn btn-success btn-xs"
					th:href="@{/producto/editar/} + ${'{ID}'}" th:text="'Editar'"></a></td>
				<td><a class="btn btn-danger btn-xs"
					th:href="@{/producto/eliminar/} + ${'{ID}'}"
					th:text="'Eliminar'"
					onclick="return confirm('Estas seguro que quieres eliminar?');"></a></td>

			</tr>

		</tbody>

	</table>
</body>
</html>