<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
	<table th:fragment="itemsFacturasin" class="d-none">
		<tbody id="plantillaItemsFacturasin">
			<tr id="row_{ID}">

				<td>{PEDIDO}</td>
				<td>{PROCESO}</td>
				<td>{ESTATUS}</td>

				<td><a class="btn btn-success btn-xs"
					th:href="@{/facturacionsin/editar/} + ${'{ID}'}" th:text="'Ver'"></a></td>

				<td><a class="btn btn-danger btn-xs"
					th:href="@{/facturacion/eliminar/} + ${'{ID}'}"
					th:text="'Eliminar'"
					onclick="return confirm('Estas seguro que quieres eliminar?');"></a></td>
			</tr>

		</tbody>

	</table>
</body>
</html>