<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
	<table th:fragment="itemsFactura" class="d-none">
		<tbody id="plantillaItemsAsistencia">
			<tr id="row_{ID}">
				<td>{FECHA}</td>
				<td>{HORA1}</td>
				<td>{ESTATUS}</td>
				<td>{EMPLEADO.NOMBRE}</td>
				<td>{HORA2}</td>
				<td><a class="btn btn-success btn-xs"
					th:href="@{/empleados/vista/} + ${'{ID}'}" th:text="'Registrar Hora Salida'"></a></td>
				<td><a class="btn btn-danger btn-xs"
					th:href="@{/empleados/eliminar/}  + ${'{ID}'}" th:text="'Eliminar'"
					onclick="return confirm('Estas seguro que quieres eliminar?');"></a></td>

			</tr>
		</tbody>

	</table>
</body>
</html>