<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head"></head>
<body>

	<header th:replace="layout/layout :: header"></header>

	<div class="container py-4">

		<div class="card bg-light">
			<div class="card-header" th:text="${titulo}"></div>
			<div class="card-body">


				<form th:action="@{/catalogo/crear}" th:object="${catalogoempresa}"
					method="post" enctype="multipart/form-data">

					<div class="form-group row">
						<label for="nombre" class="col-sm-2 col-form-label">Nombre</label>
						<div class="col-sm-6">
							<input type="text" th:field="*{nombre}" class="form-control"
								th:errorclass="'form-control alert-danger'" /> <small
								class="form-text text-danger" th:text="${mensaje}"></small>
						</div>
					</div>

					<div class="form-group row">
						<label for="email" class="col-sm-2 col-form-label">Direccion</label>
						<div class="col-sm-6">
							<input type="text" th:field="*{direccion}" class="form-control"
								th:errorclass="'form-control alert-danger'" /> <small
								class="form-text text-danger" th:text="${mensaje}"></small>
						</div>
					</div>



					<div class="form-group row">
						<label for="email" class="col-sm-2 col-form-label">Telefono</label>
						<div class="col-sm-6">
							<input type="text" th:field="*{telefono}" class="form-control"
								th:errorclass="'form-control alert-danger'" /> <small
								class="form-text text-danger" th:text="${mensaje}"></small>
						</div>
					</div>
					<div class="form-group row">
						<label for="email" class="col-sm-2 col-form-label">Pagina
							web</label>
						<div class="col-sm-6">
							<input type="text" th:field="*{paginaweb}" class="form-control"
								th:errorclass="'form-control alert-danger'" /> <small
								class="form-text text-danger" th:text="${mensaje}"></small>
						</div>
					</div>
					<div class="form-group row">
						<label for="file" class="col-sm-2 col-form-label">Foto</label>
						<div class="col-sm-6">
							<input type="file" name="file" class="form-control" /> <small
								class="form-text text-danger" th:text="${mensaje2}"></small>
						</div>
					</div>
					<div class="form-group row">
						<div class="col-sm-6">
							<input type="submit" th:value="'Guardar'"
								class="btn btn-secondary" />
						</div>
					</div>
					<h4 class="card-title">
						<a class="btn btn-light btn-xs" th:href="@{/catalogo/}"
							th:text="'&laquo;volver'"></a>
					</h4>
				</form>
			</div>
		</div>
	</div>

	<footer th:replace="layout/layout :: footer"></footer>

</body>
</html>