<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head"></head>
<body>

	<header th:replace="layout/layout :: header"></header>

	<div class="container py-4">

		<div class="card bg-light">
			<div class="card-header" th:text="${titulo}"></div>
			<small class="form-text text-danger" th:text="${mensaje}"></small>
			<div class="card-body">


				<form th:action="@{/facturas/crear}" th:object="${cotizacion}"
					method="post" enctype="multipart/form-data">

					<div class="form-group row">
						<label for="email" class="col-sm-2 col-form-label">Numero
							de cotizacion</label>
						<div class="col-sm-6">
							<input type="text" th:field="*{numero_cotizacion}"
								class="form-control" th:errorclass="'form-control alert-danger'" />
							<small class="form-text text-danger"
								th:if="${#fields.hasErrors('numero_cotizacion')}"
								th:errors="*{numero_cotizacion}"></small>
						</div>
					</div>

					<div class="form-group row">
						<label for="email" class="col-sm-2 col-form-label">Referencia</label>
						<div class="col-sm-6">
							<input type="text" th:field="*{referencia}" class="form-control"
								th:errorclass="'form-control alert-danger'" /> <small
								class="form-text text-danger"
								th:if="${#fields.hasErrors('referencia')}"
								th:errors="*{referencia}"></small>
						</div>
					</div>


					<div class="form-group row">
						<label for="buscar_local" class="col-sm-2 col-form-label"
							th:text="'Empresa que cotiza'"></label>
						<div class="col-sm-6">
							<input type="text" name="buscar_local" id="buscar_local"
								class="form-control" /> <small class="form-text text-danger"
								th:text="${catalogo}"></small>
						</div>
					</div>

					<div class="form-group row">
						<label for="buscar_catalogo" class="col-sm-2 col-form-label"
							th:text="'Empresa a la que se cotiza'"></label>
						<div class="col-sm-6">
							<input type="text" name="buscar_catalogo" id="buscar_catalogo"
								class="form-control" /> <small class="form-text text-danger"
								th:text="${catalogo}"></small>

						</div>
					</div>

					<div class="form-group row">
						<label for="email" class="col-sm-2 col-form-label">Cargo y
							Nombre</label>
						<div class="col-sm-6">
							<input type="text" th:field="*{cargo_nombre}"
								class="form-control" th:errorclass="'form-control alert-danger'" />
							<small class="form-text text-danger"
								th:if="${#fields.hasErrors('cargo_nombre')}"
								th:errors="*{cargo_nombre}"></small>
						</div>
					</div>
					<div class="form-group row">
						<label for="email" class="col-sm-2 col-form-label">Departamento</label>
						<div class="col-sm-6">
							<input type="text" th:field="*{departamento}"
								class="form-control" th:errorclass="'form-control alert-danger'" />
							<small class="form-text text-danger"
								th:if="${#fields.hasErrors('departamento')}"
								th:errors="*{departamento}"></small>
						</div>
					</div>

					<div class="form-group row">
						<label for="email" class="col-sm-2 col-form-label">Correo</label>
						<div class="col-sm-6">
							<input type="text" th:field="*{correo}" class="form-control"
								th:errorclass="'form-control alert-danger'" /> <small
								class="form-text text-danger"
								th:if="${#fields.hasErrors('correo')}" th:errors="*{correo}"></small>
						</div>
					</div>

					<div class="form-group row">
						<label for="email" class="col-sm-2 col-form-label">Asunto</label>
						<div class="col-sm-6">
							<input type="text" th:field="*{asunto}" class="form-control"
								th:errorclass="'form-control alert-danger'" /> <small
								class="form-text text-danger"
								th:if="${#fields.hasErrors('asunto')}" th:errors="*{asunto}"></small>
						</div>
					</div>

					<input type="hidden" name="local" id="local" /> <input
						type="hidden" name="catalogo" id="catalogo" />
					
					<div class="form-group row">
						<div class="col-sm-6">
							<input type="submit" th:value="'Guardar'"
								class="btn btn-secondary" />
						</div>
					</div>
					<h4 class="card-title">
						<a class="btn btn-light btn-xs" th:href="@{/facturas/}"
							th:text="'&laquo;volver'"></a>
					</h4>
				</form>
			</div>
		</div>
	</div>

	<footer th:replace="layout/layout :: footer"></footer>
	<script th:replace="factura/js/autocomplete-local :: javascript"></script>
	<script th:replace="factura/js/autocomplete-catalogo :: javascript"></script>

</body>
</html>