<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head"></head>

<body>
	<header th:replace="layout/layout :: header"></header>

	<div class="container py-4">

		<div class="card bg-light">
			<div class="card-header" th:text="${titulo}"></div>
			<div class="card-body">

				<form th:action="@{/asistencia/editar}" th:object="${asistencia}"
					method="post" enctype="multipart/form-data">


					<div class="form-group row">
						<label class="col-sm-2 col-form-label" th:text="'Hora de salida'"></label>
						<div class="col-sm-6">
							<input type="text" th:field="*{hora_salida}" class="form-control"
								th:errorclass="'form-control is-invalid'" /> <small
								class="form-text text-danger" th:text="${mensaje}"></small>
						</div>
					</div>




					<div class="form-group row">
						<div class="col-sm-6">
							<input type="submit" th:value="'Guardar'"
								class="btn btn-secondary" />
						</div>
					</div>
					<h4 class="card-title">
						<a class="btn btn-light btn-xs" th:href="@{/asistencia/}"
							th:text="'&laquo;volver'"></a>
					</h4>
				</form>
			</div>
		</div>
	</div>

	<footer th:replace="layout/layout :: footer"></footer>
</body>
</html>