<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head"></head>

<body>
	<header th:replace="layout/layout :: header"></header>

	<div class="container py-4">

		<div class="card bg-light">
			<div class="card-header" th:text="${titulo}"></div>
			<div class="card-body">
				<small class="form-text text-danger" th:text="${unico}"></small>
				<form th:action="@{/facturacionsin/crear2}"
					th:object="${facturacion}" method="post"
					>

					<div class="form-group row">
						<label class="col-sm-2 col-form-label" th:text="'No. Proceso'"></label>
						<div class="col-sm-6">
							<input type="text" th:field="*{proceso}" class="form-control"
								th:errorclass="'form-control is-invalid'" /> <small
								class="form-text text-danger" th:text="${mensaje1}"></small>
						</div>
					</div>

					<div class="form-group row">
						<label class="col-sm-2 col-form-label" th:text="'Estatus'"></label>
						<div class="col-sm-6">
							<input type="text" th:field="*{estatus}" class="form-control"
								th:errorclass="'form-control is-invalid'" /> <small
								class="form-text text-danger" th:text="${mensaje2}"></small>
						</div>
					</div>


					<div class="form-group row">
						<div class="col-sm-6">
							<input type="submit" th:value="'Guardar'"
								class="btn btn-secondary" />
						</div>
					</div>
					<h4 class="card-title">
						<a class="btn btn-light btn-xs" th:href="@{/facturacionsin/}"
							th:text="'&laquo;volver'"></a>
					</h4>
				</form>
			</div>
		</div>
	</div>

	<footer th:replace="layout/layout :: footer"></footer>
	<script th:replace="porcentaje/js/calcular-total :: javascript"></script>
</body>
</html>