<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head"></head>
<body>

	<header th:replace="layout/layout :: header"></header>

	<div class="container py-4">

		<div class="card bg-light">
			<div class="card-header" th:text="'Concluir mis cotizaciones'"></div>
			<div class="card-body">


				<table class="table table-striped table-bordered">
					<thead class="thead-inverse">
						<tr>

							<th>Numero C.</th>
							<th>Referencia</th>
							<th>Asunto</th>
							<th>Fecha</th>
							<th>Concluir</th>


						</tr>
					</thead>
					<tbody>
						<tr th:each="cotizacion: ${cotizacion}">

							<td th:text="${cotizacion.numero_cotizacion}"></td>
							<td th:text="${cotizacion.referencia}"></td>
							<td th:text="${cotizacion.asunto}"></td>
							<td th:text="${cotizacion.fecha}"></td>
							<td><a class="btn btn-success btn-xs"
								th:href="@{/concluir/vista/} + ${cotizacion.id}"
								th:text="'Concluir'"></a></td>

						</tr>
					</tbody>

				</table>
				<h4 class="card-title">
					<a class="btn btn-light btn-xs" th:href="@{/facturas/}"
						th:text="'&laquo;volver'"></a>
				</h4>
			</div>
		</div>


	</div>

</body>
</html>