<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head"></head>
<body>

	<header th:replace="layout/layout :: header"></header>

	<div class="container py-4">

		<div class="card bg-light">
			<div class="card-header" th:text="Opciones"></div>
			<div class="card-body">

				<h4 class="card-title">
					<a th:href="@{/producto/crear}" class="btn btn-primary btn-xs">Nuevo
						Producto</a> <a th:href="@{/producto}" class="btn btn-primary btn-xs">Mostrar
						Productos</a>
				</h4>

				<div class="form-group row">
					<label for="buscar_producto" class="col-sm-2 col-form-label"
						th:text="'Ingresa el nombre del producto'"></label>
					<div class="col-sm-6">
						<input type="text" name="buscar_producto" id="buscar_producto"
							class="form-control" />
					</div>
				</div>
				<table th:replace="factura/plantilla-items2 :: itemsFactura"></table>

				<table id="cargarItemProductos"
					class="table table-striped table-bordered">
					<thead class="thead-inverse">
						<tr>
							<th>ID</th>
							<th>No. Catalogo</th>
							<th>Nombre</th>
							<th>Precio</th>
							<th>Existencia</th>
							<th>Marca</th>
							<th>Editar</th>
							<th>Eliminar</th>
						</tr>
					</thead>
					<tbody>

					</tbody>
					<tbody id="plantillaItemsFactura2">
						<tr id="row_{ID}" th:each="producto: ${producto}">
							<td th:text="${producto.id}"></td>
							<td th:text="${producto.numero}"></td>
							<td th:text="${producto.nombre}"></td>
							<td th:text="${producto.precio}"></td>
							<td th:text="${producto.existencia}"></td>
							<td th:text="${producto.marca}"></td>
							<td><a class="btn btn-success btn-xs"
								th:href="@{/producto/editar/} + ${producto.id}"
								th:text="'Editar'"></a></td>
							<td><a class="btn btn-danger btn-xs"
								th:href="@{/producto/eliminar/} + ${producto.id}"
								th:text="'Eliminar'"
								onclick="return confirm('Estas seguro que quieres eliminar?');"></a></td>

						</tr>
					</tbody>

				</table>

			</div>
		</div>


	</div>
	<footer th:replace="layout/layout :: footer"></footer>
	<script th:replace="factura/js/autocomplete-productos2 :: javascript"></script>
</body>
</html>