<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head"></head>
<body>

	<header th:replace="layout/layout :: header"></header>

	<div class="container py-4">

		<div class="card bg-light">
			<div class="card-header" th:text="Opciones"></div>
			<div class="card-body">

				<h4 class="card-title">
					<a th:href="@{/facturacion/crear}" class="btn btn-primary btn-xs">Nueva
						Facturacion</a> <a th:href="@{/facturacion}"
						class="btn btn-primary btn-xs">Mostrar Facturas</a>
				</h4>
				<div class="form-group row">
					<label for="buscar_factura" class="col-sm-2 col-form-label"
						th:text="'Ingresa el No. pedido'"></label>
					<div class="col-sm-6">
						<input type="text" name="buscar_factura" id="buscar_factura"
							class="form-control" />
					</div>
				</div>
				
				<table th:replace="factura/plantilla-items4 :: itemsFactura"></table>
				
				<table id="cargarItemFacturas" class="table table-striped table-bordered">
					<thead class="thead-inverse">
						<tr>
							<th>No. Pedido</th>
							<th>No. Proceso</th>
							<th>Estatus</th>
							<th>Ver</th>
							<th>Eliminar</th>
						</tr>
					</thead>
					<tbody></tbody>
					<tbody id="plantillaItemsFactura2">
						<tr th:each="historial: ${historial}">

							<td th:text="${historial.pedido}"></td>
							<td th:text="${historial.proceso}"></td>
							<td th:text="${historial.estatus}"></td>
							<td><a class="btn btn-success btn-xs"
								th:href="@{/facturacion/editar/} + ${historial.id}"
								th:text="'Ver'"></a></td>
							<td><a class="btn btn-danger btn-xs"
								th:href="@{/facturacion/eliminar/} + ${historial.id}"
								th:text="'Eliminar'"
								onclick="return confirm('Estas seguro que quieres eliminar?');"></a></td>

						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
	<footer th:replace="layout/layout :: footer"></footer>
	<script th:replace="factura/js/autocomplete-factura :: javascript"></script>
</body>
</html>