<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head"></head>
<body>
	<header th:replace="layout/layout :: header"></header>
	<div class="container py-4">
		<div class="card bg-light">
			<div class="card-header" th:text="Opciones"></div>
			<div class="card-body">
				<h4 class="card-title">
					<a th:href="@{/empleados/crear}" class="btn btn-primary btn-xs">Nuevo
						Empleado </a> <a th:href="@{/empleados/}"
						class="btn btn-primary btn-xs"> Mostrar Empleados</a>
				</h4>
				<div class="form-group row">
					<label for="buscar_cotizacion" class="col-sm-2 col-form-label"
						th:text="'Ingresa el nombre del empleado'"></label>
					<div class="col-sm-6">
						<input type="text" name="buscar_empleado" id="buscar_empleado"
							class="form-control" />
					</div>
				</div>
				<table th:replace="factura/plantilla-items6 :: itemsFactura"></table>
				
				<table id="cargarItemEmpleados"
					class="table table-striped table-bordered">
					<thead class="thead-inverse">
						<tr>
							<th>Nombre</th>
							<th>Paterno</th>
							<th>Materno</th>
							<th>Foto</th>
							<th>Puesto</th>
							<th>Editar</th>
							<th>Eliminar</th>
						</tr>
					</thead>
					<tbody>
					
					</tbody>
					<tbody id="plantillaItemsEmpleados2">
						<tr th:each="empleado: ${empleado}">
							<td th:text="${empleado.nombre}"></td>
							<td th:text="${empleado.apellido_pa}"></td>
							<td th:text="${empleado.apellido_ma}"></td>
							<td WIDTH="200" HEIGHT="50"><img
								th:if="${#strings.length(empleado.foto)>0}"
								style="max-width: 60%;"
								th:src="@{'/uploads/' + ${empleado.foto}}" /></td>
							<td th:text="${empleado.puesto}"></td>
							<td><a class="btn btn-success btn-xs"
								th:href="@{/empleados/vista/} + ${empleado.id}"
								th:text="'Editar'"></a></td>
							<td><a class="btn btn-danger btn-xs"
								th:href="@{/empleados/eliminar/} + ${empleado.id}"
								th:text="'Eliminar'"
								onclick="return confirm('Estas seguro que quieres eliminar?');"></a></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
	<footer th:replace="layout/layout :: footer"></footer>
	<script th:replace="factura/js/autocomplete-empleado :: javascript"></script>
</body>
</html>