<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head"></head>
<body>

	<header th:replace="layout/layout :: header"></header>

	<div class="container py-4">

		<div class="card bg-light">
			<div class="card-header" th:text="${titulo}"></div>
			<div class="card-body">


				<form th:action="@{/producto/editar}" th:object="${producto}"
					method="post" enctype="multipart/form-data">

					<div class="form-group row">
						<label class="col-sm-2 col-form-label" th:text="'No.Catalogo'"></label>
						<div class="col-sm-6">
							<input type="text" th:field="*{numero}" class="form-control"
								th:errorclass="'form-control is-invalid'" />
							<div class="invalid-feedback"
								th:if="${#fields.hasErrors('numero')}" th:errors="*{numero}"></div>
						</div>
					</div>

					<div class="form-group row">
						<label class="col-sm-2 col-form-label" th:text="'Nombre'"></label>
						<div class="col-sm-6">
							<input type="text" th:field="*{nombre}" class="form-control"
								th:errorclass="'form-control is-invalid'" />
							<div class="invalid-feedback"
								th:if="${#fields.hasErrors('nombre')}" th:errors="*{nombre}"></div>
						</div>
					</div>


<div class="form-group row">
						<label class="col-sm-2 col-form-label" th:text="'Precio'"></label>
						<div class="col-sm-6">
							<input type="text" th:field="*{precio}"
								onKeyPress="return soloNumeros(event)" class="form-control"
								th:errorclass="'form-control is-invalid'" />
							<div class="invalid-feedback"
								th:if="${#fields.hasErrors('precio')}" th:errors="${error2}"></div>
						</div>
					</div>

					<div class="form-group row">
						<label class="col-sm-2 col-form-label" th:text="'Existencia'"></label>
						<div class="col-sm-6">
							<input type="text" th:field="*{existencia}" class="form-control"
								th:errorclass="'form-control is-invalid'" />
							<div class="invalid-feedback"
								th:if="${#fields.hasErrors('existencia')}"
								th:errors="*{existencia}"></div>
						</div>
					</div>


					<div class="form-group row">
						<label class="col-sm-2 col-form-label" th:text="'Marca'"></label>
						<div class="col-sm-6">
							<input type="text" th:field="*{marca}" class="form-control"
								th:errorclass="'form-control is-invalid'" />
							<div class="invalid-feedback"
								th:if="${#fields.hasErrors('marca')}" th:errors="*{marca}"></div>
						</div>
					</div>



					<div class="form-group row">
						<div class="col-sm-6">
							<input type="submit" th:value="'Guardar'"
								class="btn btn-secondary" />
						</div>
					</div>
				</form>


				<a th:href="@{/producto/}" class="btn btn-light btn-xs">&laquo;
					volver</a>
			</div>
		</div>
	</div>

	<footer th:replace="layout/layout :: footer"></footer>

</body>
</html>