<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head"></head>
<body>

	<header th:replace="layout/layout :: header"></header>

	<div class="container py-4">


		<div class="card bg-light">
			<div class="card-header" th:text="'Descripcion de la factura'">

			</div>

			<div class="card-body">
				<a th:if="${facturacion.estatus}=='NO PAGADO'"
					class="btn btn-warning"
					th:href="@{/facturacion/pago/} + ${facturacion.id}">NUEVO PAGO</a>


				<ul class="list-group my-2">
					<li class="list-group-item list-group-item-primary"
						th:text="'Datos de la factura'"></li>
					<li class="list-group-item"
						th:text="'No. Pedido:' + ${facturacion.pedido}"></li>
					<li class="list-group-item"
						th:text="'No. Proceso: ' + ${facturacion.proceso}"></li>
					<li class="list-group-item"
						th:text="'Moneda: ' + ${facturacion.moneda}"></li>
				</ul>
				<br />


				<table class="table table-striped table-hover table-bordered my-3">
					<thead>
						<tr>
							<th>No Pago</th>
							<th>Abonado</th>
							<th>Porcentaje Abonado</th>
							<th>Archivo</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="his: ${facturacion.historial}">
							<td th:text="${his.no_pago}"></td>
							<td th:text="${his.abonado}"></td>
							<td th:text="${his.porcentaje}+'%'"></td>

							<td><a th:href="@{'/uploads/' + ${his.archivo}}"
								target="_blank">
									<p th:text="${his.archivo}" />
							</a></td>

						</tr>
					</tbody>

				</table>
				<h5 class="float-right">
					Total General <span th:text="${facturacion.total}"
						class="badge badge-secondary"></span>
				</h5>
				<h5 class="float-right">
					Restante a pagar <span th:text=" ${restante} "
						class="badge badge-secondary"></span>
				</h5>
				<h5 class="float-right">
					Total Abonado <span th:text=" ${abonado} "
						class="badge badge-secondary"></span>
				</h5>
				<br />
				<ul class="list-group my-2">
					<li class="list-group-item list-group-item-primary"
						th:text="'Descripcion'"></li>
					<li class="list-group-item"
						th:text="'Estatus: ' + ${facturacion.estatus}"></li>

				</ul>



				<a th:href="@{/facturacion/}" class="btn btn-light btn-xs">&laquo;
					volver</a>

			</div>
		</div>

	</div>
	<footer th:replace="layout/layout :: footer"></footer>
</body>
</html>